<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img {
        width: 200px;
        margin: auto;
        display: block;
      }
      body {
        background-color: rgb(32, 32, 32);
      }
      section {
        background-color: rgb(254, 255, 251);
        border-radius: 15px;
        width: 30%;
        margin: 10% auto;
        text-align: center;
        padding: 30px 0;
      }
    </style>
  </head>
  <body>
    <section>
      <img src="/<%= profile %>" alt="프로필 이미지" />
      <h1><%= userInfo.userId %>님! 환영합니다!</h1>
      <p>
        비밀번호 : <%= userInfo.userPw %> <br />
        이름 : <%= userInfo.userName %><br />
        나이 : <%= userInfo.userAge %>
      </p>
    </section>
  </body>
</html>
